.test {
    background-color: rgb(206, 201, 221);
    color: rgb(38, 8, 59);
}

.test .nav-link {
    color: rgb(38, 8, 59);
    font-weight: bold ;
}

.test a:hover {
    background-color: gray;
}

#cardMenu {
    margin-bottom: 10px;
    
}

/*
.VotingCont div {
    border: solid 1px gray;
}
*/
